/* Space out content a bit */
body {
  color: #737373;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  padding: 15px 15px 0px;
  max-width:1200px;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.input-group{
  margin-bottom: 15px;
}

.ui-sortable .input-group{
  padding: 5px 10px;
  cursor: move;
}

.top-space-50{
  padding-top: 50px;
}

.project-container{
  padding: 10px 20px;
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.project-container button{
  float: right;
}

.col-md-3,
.col-md-6{
  margin: 10px 0px;
}

.content{
  overflow: hidden;
}

.project-container input {
  line-height: 24px;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer{
  margin: 50px;
}

h2{
  margin-bottom: 15px;
}

h3{
  margin-bottom:18px !important;
}

textarea {
    resize: none;
    height:100%;
}

.tasklist .input-group-btn,
.finishedlist .input-group-btn,
.addtaskrow .input-group-btn{
  padding: 0px;
}

.tasklist button,
.finishedlist button,
.addtaskrow button{
  border: none;
  height:100%;
  padding: 0px 15px;
  margin-top: -2px;
  border-radius: 0px 4px 4px 0px;
}

.finishedlist{
  margin-top: 40px;
}