<div class="content">

	<h2>My Projects:</h2>

	<div ui-sortable ng-model="projects">
		<div class="list-group" ng-repeat="project in projects">
			<div class="col-md-3">
				<div ng-click="goToTasks($index)" class="project-container">
					<h3 class="list-group-item-heading">{{project.name}}</h3>
					<p class="list-group-item-text">
						{{project.summary}}
					</p>
					<button type="button" class="btn btn-danger glyphicon glyphicon-trash" ng-click='delete($index)'></button> 
				</div>
			</div>

		</div>

		<div >
		    <form ng-submit="create()" class="col-md-6">
				<div class="project-container">
						<input type='text' ng-model="project.name" class='form-control' placeholder="Project name" required>

						<button type="submit" class="btn btn-success glyphicon glyphicon-ok"></button> 
				</div>
			</form>
		</div>
	</div>

</div>