<div class="container">
  <h3>{{project.name}} project</h3>
  <form role="form" ng-submit="addTask()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="project.task.name" placeholder="Whachu need to do?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>

    <!-- Task List -->
    <div class="tasklist" ui-sortable ng-model="project.tasks">
      <p class="input-group" ng-repeat="task in project.tasks">
        <span class="input-group-addon">{{$index + 1}}. </span>
        <textarea type="text" ng-model="task.name" class="form-control">
        </textarea>
        <span class="input-group-btn">
          <button class="btn btn-success glyphicon glyphicon-ok" ng-click="finishTask($index)" aria-label="Complete"></button>
        </span>
      </p>
    </div>
  </form>

  <!-- Finished Tasks Section -->
  <div class="finishedlist" ng-controller="FinishedTasksCtrl" ng-class="getVisibilityClass()" ng-model="finishedTasks">
    <h2 class="top-space-50">Completed Tasks:</h2>
    <p class="input-group row" ng-repeat="finishedTask in project.finishedTasks">
      <span class="input-group-addon">{{$index+1}}</span>
      <textarea type="text" ng-model='finishedTask.name' class="form-control">
      </textarea>
      <span class="input-group-btn">
        <button type="button" class='btn btn-primary glyphicon glyphicon-list' aria-label="Add back to To Do list" ng-click="revertTask($index)"></button>
        <button type="button" class="btn btn-danger glyphicon glyphicon-trash" aria-label="Delete" ng-click="removeTask($index)"></button>
      </span>
    </p>
  </div>

</div>
