<div id="taskbody" class="container">
  <!-- <button id="editbtn" type="button" class="glyphicon glyphicon-pencil" aria-label="Edit" ng-click="enableProjectNameEdit()"></button>
  <input  ng-readonly="isReadOnlyEditProjectName" id="editable_proj_name" type='text' ng-model='project.name'>
  -->
  <click-edit-textbox> </click-edit-textbox>

  <div class="clear"></div>

  <!-- Task Lists -->
  <div ng-repeat='tasklist in project.listAry'>
    <div id="backlog_lc" class="list_container">
      <h2>{{project.listAryNames[$index]}}</h2>
      <div class="list_body">      
        <div class="tasklist sortable-container" ui-sortable="sortableOptionsList[$index]" ng-model="project.listAry[$index]">
          <div class="input-group" ng-class="{placeholder : this.hasClass('input-group')}" ng-repeat="task in project.listAry[$index]">
            <span class="input-group-addon">{{$index + 1}}. </span>
            <textarea textarea-fit-content type="text" ng-model="task.name" class="form-control move-left">
            </textarea>
            <span class="input-group-btn">
              <button ng-hide='$parent.$first' type="button" ng-class="{'glyphicon-arrow-up': isOneColumn == true, 'glyphicon-arrow-left': !isOneColumn}"  class='btn btn-info glyphicon' aria-label="Add back to To Do list" ng-click="  moveTask($index, project.listAry[$parent.$index], project.listAry[$parent.$index - 1])"></button>
              <button ng-hide='$parent.$last' ng-class="{'glyphicon-arrow-down': isOneColumn == true, 'glyphicon-arrow-right': !isOneColumn}" class="btn btn-primary glyphicon" ng-click="moveTask($index, project.listAry[$parent.$index], project.listAry[$parent.$index + 1])" aria-label="Complete"></button>
               <button type="button" class="btn btn-danger glyphicon glyphicon-trash" aria-label="Delete" ng-click="removeTask($index, project.listAry[$parent.$index])"></button>
            </span>
          </div>
        </div>

        <!--ONLY SHOWS ON FIRST TASK LIST-->
        <form ng-show='$first' role="form" ng-submit="addTask()">
          <div>
            <div class="input-group">
              <textarea textarea-fit-content enter-key-submit="addTask()" textarea-fit-content type="text" ng-model="project.task.name" placeholder="Whachu need to do?" class="form-control">
              </textarea>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary glyphicon glyphicon-plus">
                </button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


</div>
